*{
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0 auto;
    width: 375px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    width: 375px;
    height: 67px;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #C3CFD9;
    z-index: 1;
}
header p{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}
.titulo-page{
    position: fixed;
    margin-top: 67px;
    width: 375px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    z-index: 2;
}
main{
    position: absolute;
    top: 185px;
    padding-bottom: 147px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
footer{
    position: fixed;
    width: 375px;
    height: 117px;
    bottom: 0px;
    gap: 14px;

    display:flex;
    justify-content: flex-start;
    align-items: center;

    background: #DFE6ED;
    border: 1px solid #9EADBA;

    font-weight: 400;
    font-size: 26px;
    line-height: 30px;    
    color: #293845;
}
.footer-filme{
    width: 64px;
    height: 89px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.footer-filme img{
    width: 48px;
    height: 72px;
}
.dados-filme{
    gap: 5px;
    font-weight: 400;
    font-size: 26px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #293845;
}
button:hover{
    cursor: pointer;
}
input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    display: flex;
    align-items: center;
    
    color: #AFAFAF;
}
input{
    padding-left: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    display: flex;
    align-items: center;
}
/* Tela 1  */
.container-filmes{
    position: absolute;
    top: 185px;
    padding: 0 19px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 19px;
}
.filme{
    width: 145px;
    height: 209px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.filme img{
    width: 129px;
    height: 193px;
    cursor: pointer;
}
/* Fim Tela 1 */

/* Tela 2 */
.container-opcoes-dias{
    padding-left: 19px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 23px;
}
.dia{
    gap: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #293845;
}
.container-horarios{
    gap: 9px;
    
    display: flex;
    flex-direction: inline;
}
button.horario{
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
/* Fim Tela 2 */

/* Tela 3 */
.container-assentos{
    gap: 7px;
    padding: 0 24px 0;
    display: flex;
    flex-wrap: wrap;

}
.assento{
    width: 26px;
    height: 26px;
    margin-bottom: 16px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;

    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #000000;
}
.container-legendas-assentos{
    gap: 30px;
    padding: 0 40px 0;
    display: flex;
}
.legenda-assento{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.assento-selecionado, .assento-disponivel, .assento-indisponivel{
    width: 25px;
    height: 25px;
    border-radius: 12px;
}
.assento-selecionado{
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
}
.assento-disponivel{
    background: #C3CFD9;
    border: 1px solid #7B8B99;
}
.assento-indisponivel{
    background: #FBE192;
    border: 1px solid #F7C52B;
}
.legenda{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    color: #4E5A65;
}
.dados-comprador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 42px;
}
.dados-comprador p{
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #293845;
}
.dados-comprador input{
    width: 327px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
}
.nome-comprador, .cpf-comprador{
    margin-bottom: 7px;
}

button.botao-reservar-assento{
    width: 225px;
    height: 42px;
    margin-top: 57px;
    
    background: #E8833A;
    border-radius: 3px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* Fim Tela 3 */

/* Tela 4 */
.sucesso{
    display:flex;
    flex-wrap: wrap;

    font-weight: 700;
    color: #247A6B;
}
.descricao-compra{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.descricao h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #293845;
}
.descricao p{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #293845;
}
button.voltar-home{
    width: 225px;
    height: 42px;
    margin-top: 91px;
    background: #E8833A;
    border-radius: 3px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
/* Fim Tela 4 */